<div class="container">
	<h4>Original: <span class="original">"{{homeComp.originalInput}}"</span></h4>
	<hr>

	<h4>User Input</h4>
	<form ng-submit="homeComp.getUserInput()">
	    <input type="textarea" name="user-input" id="user-input-area" ng-model="homeComp.userInputArea">
	</form>

	<hr>

	<div ng-repeat="n in homeComp.editArray track by $index" id="user-input-results">
	  <div class="word-highlight" ng-click="homeComp.searchInput($index)">{{homeComp.editArray[$index]}}</div>
	  <select ng-click="homeComp.replaceWord()" ng-model="homeComp.selectedWord" ng-options="word as word for word in homeComp.wordChoices"></select>
	</div>

	<hr>

<!-- <<<<<<< HEAD
		<div id="word-info-for-ryne" style="border: 2px dotted white">
			Definition:{{homeComp.specificWordInfo.data.list[0].definition}}
			<hr>
			Example:{{homeComp.specificWordInfo.data.list[0].example}} - "{{homeComp.specificWordInfo.data.list[0].author}}"
			<hr>
			Sample: <audio controls><source ng-src="" type="audio/mpeg"></audio>
		</div>
======= -->
	<h4>Get Hip Search:</h4>
	<form ng-submit="homeComp.searchWord()" id=word-search-form>
	  <input type="text" id="word-search-input" placeholder="Bitchin" ng-model="homeComp.wordSearchTerm">
	</form>


	<button ng-click="showModal = !showModal">Show modal</button>
</div>

<div id="word-details-modal" ng-show="showModal">
	<div id="word-tags">
		<h4>Synonyms</h4>
		<hr>
		<ul id="word-tags-list" ng-repeat="word in homeComp.specificWordInfo.data.tags track by $index">
			<li ng-click="homeComp.replaceWord($index)" ng-model="homeComp.specificWordInfo.data.tags[$index]">{{homeComp.specificWordInfo.data.tags[$index]}}</li>
		</ul>
	</div>
	<div id="word-details">
		<span class="header">
			<h2 id="word-title">{{homeComp.editArray[$index]}}</h2>
				<!-- <audio ng-src="{{homeComp.trustedUrl}}">
					<img src="../../../img/sound.svg" alt="pronunciation" id="sound-icon">
				</audio> -->
		</span>

		<p id="word-definition">
			{{homeComp.specificWordInfo.data.list[0].definition}}
		</p>
		<p class="txt-gray" id="word-example"><em>
			{{homeComp.specificWordInfo.data.list[0].example}}
		</em></p>

		<p>by
			<strong>{{homeComp.specificWordInfo.data.list[0].author}}</strong>
		</p>

		<button>Use Word</button>

	</div>
