body {
	font-family: 'Montserrat', sans-serif;
	background-color: #16191C;
	color: white;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

h1 {
	font-size: 60px;
	letter-spacing: -.02em; 
	font-weight: 800;
}

h2 {
	font-size: 40px;
	margin-bottom: 10px;
	line-height: 1;
	margin-left: -1px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 15px;
	line-height: .9;
	margin-bottom: 10px;
}

p {
	font-size: 15px;
	font-weight: 300;	
	line-height: 1.4;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: black;
  height: 1px;
  margin: 0;
}

nav {
	padding-top: 8px;
}

nav hr {
	margin-top: 9px;
}

nav #logo {
	width: 150px;
}

ul {
	list-style-type: none;
	margin-left: -39px;
}

li {
	margin-bottom: 10px;
	background-color: #32383e;
	padding: 3px 8px 4px 8px;
	display: inline-block;
	font-size: 15px;
}

li:hover {
	cursor: pointer;
	background-color: #0BE5F5;
	color: black;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background-color: #0BE5F5;
	color: black;
	cursor: pointer;
	margin-top: 16px;
	padding: 10px 12px;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
	outline: none;
	letter-spacing: 1px;
}

button:hover {
	filter: brightness(120%);
}

i {
	margin-right: .2em;
}

::selection {
  background: #00eeff; 
  color: black;
}

.btn-secondary {
	background: none;
	border: 2px solid #7B8D95;
	color: #7B8D95;
}

.btn-secondary:hover {
	filter: brightness(135%);
}


input[type="text"], input[type="textarea"] {
	border: none !important;
	background-color: black !important;
	outline: none !important;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 15px;
	font-weight: 300;
	padding: 8px 12px 10px 12px;
	width: calc(100% - 23px);
}

.txt-gray {
	color: #858D95;
}

#user-input-results {
	display: inline-block
}

.word-highlight {
	background-color: #23272B;
	margin: 0px 4px 4px 0;
	padding: 3px 12px 4px 12px;
	font-size: 60px;
	font-weight: 700;
}

.word-highlight:hover {
	background-color: #0BE5F5;
	color: black;
	cursor: pointer;
}

.original {
	font-weight: 200;
}

#word-details-modal {
	background-color: #23272B;
	height: 100vh;
	width: 30%;
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: 0 0 50px black;
	padding: 10px 27px 15px 27px;
}

#word-tags {
	margin-bottom: -10px;
}

#word-details {
	margin-bottom: -10px;
}

#sound-icon {
	height: 22px;
	margin-bottom: -22px;
	margin-left: 12px;
	cursor: pointer;
}

#sound-icon:hover {
	filter: brightness(110%);
}

.header {
	margin-top: -26px;
	margin-bottom: -12px;
	display: flex;
	align-items: center;
}

#action-buttons {
	display: flex;
	justify-content: space-between;
}

#copy-txt {
	position: absolute;
	bottom: 0;
	color: #16191C;
	z-index: -1;
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 1000px) {

	#word-details-modal {
		width: 40%;
	}

}

@media screen and (max-width: 800px) {

	#word-details-modal {
		width: 66%;
	}

}

@media screen and (max-width: 450px) {

	.word-highlight {
		font-size: 45px;
	}

	#word-details-modal {
		width: 79%;
	}

}